@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    padding: 16px;
    background-color: White;
}

h1, h2, h3 {
    font-family: Merriweather, Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    h1 {
        font-size: 40px;
    }
}

div.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 4px;

    div.logo {
        font-family: Merriweather, Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;

        a {
            color: black;
            text-decoration: none;
        }

        &:hover {
            text-decoration: underline;
        }


    }

    div.nav {
        display: flex;
        gap: 28px;

        a {
            color: black;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

}


div.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    margin: 16px auto;
    width: min(1200px, 100%);
    background-color: #FFF1EA;
    padding: min(32px, 15%);
    border-radius: 16px;
    box-shadow: 3px 3px 6px #000;


    .text {
        font-family: Merriweather, Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0 16px 8px 16px;
        font-size: 18px;
        margin: 20px auto;
        text-align: justify;
        line-height: 2.0;


    }

}


.flex-container img {
    border-radius: 16px;

}

.footer {
    padding-bottom: 24px;
    text-align: center;

    a {
        text-decoration: none;
        margin: 0 16px;
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }

}